<ion-header>
	<ion-navbar>
		<ion-title>Natives</ion-title>
	</ion-navbar>
</ion-header>


<ion-content>
	<ion-list inset>
	  <button ion-item *ngFor="let item of items" (click)="itemTapped(item)">
	    {{ item.title }}
	  </button> 
	</ion-list>
</ion-content>
