<ion-header>
	<ion-navbar>
		<!-- <button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button> -->
		<ion-title>Natives</ion-title>
		<!-- <img src="assets/imgs/logo.png" alt="VML" class="vml-logo"> -->

		<ion-buttons end>
			<button ion-button icon-only (click)="presentFilter($event)">
				<ion-icon name="options"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
	<ion-searchbar (ionInput)="searchChanged($event)"></ion-searchbar>
</ion-header>

<ion-content id="people-list">

	<ion-grid>
		<ion-row wrap>
			<ion-col col-6 col-sm-4 col-md-3 col-lg-2 *ngFor="let person of getPeople()" (click)="itemTapped($event, person)">
				<div class="employee-card">
					<div class="employee-card-image-container">
						<img src="{{person.getThumbnail()}}" class="employee-card-image" onerror="if(this.src != './assets/imgs/missing.jpg') this.src = './assets/imgs/missing.jpg';">

						<img src="./assets/imgs/new.png" class="employee-card-new-alert" *ngIf="person.isNew">
					</div>
					<div class="employee-card-name">
						<div>
							{{person.getFullName()}}
						</div>
						<div style="font-size: 0.8em;color:#DDD;">
							{{getDescription(person)}}
						</div>
					</div>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>

	<ion-fab right bottom>
		<button ion-fab color="default" (click)="scrollUp()"><ion-icon name="arrow-up"></ion-icon></button>
	</ion-fab>

	<ion-infinite-scroll (ionInfinite)="loadMore($event)">
		<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
	</ion-infinite-scroll>

</ion-content>