<ion-header>
	<ion-navbar>
		<ion-buttons end>
			<button ion-button icon-only (click)="close()">
				<ion-icon name="ios-close-outline"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title>Filters</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>

	<ion-list inset>

		<!-- <ion-list-header>
			<ion-item>
				<ion-label>Filters</ion-label>
				<ion-buttons end>
					<button ion-button icon-only small (click)="peopleProv.clearFilters()">
						<ion-icon name="star"></ion-icon>
					</button>
				</ion-buttons>
			</ion-item>
		</ion-list-header> -->

		<ion-item>
			<ion-label>Department</ion-label>
			<ion-select [(ngModel)]="peopleProv.department">
				<ion-option value="">Any</ion-option>
				<ion-option value="{{dep}}" *ngFor="let dep of peopleProv.departments">{{dep}}</ion-option>
			</ion-select>
		</ion-item>

		<ion-item>
			<ion-label>Tribe</ion-label>
			<ion-select [(ngModel)]="peopleProv.tribe">
				<ion-option value="">Any</ion-option>
				<ion-option value="{{trib}}" *ngFor="let trib of peopleProv.tribes">{{trib}}</ion-option>
			</ion-select>
		</ion-item>

		<ion-item>
			<ion-label>City</ion-label>
			<ion-select [(ngModel)]="peopleProv.city">
				<ion-option value="">Any</ion-option>
				<ion-option value="{{cit}}" *ngFor="let cit of peopleProv.cities">{{cit}}</ion-option>
			</ion-select>
		</ion-item>

		<ion-item>
			<ion-label>New Only</ion-label>
			<ion-toggle [(ngModel)]="peopleProv.isNew"></ion-toggle>
		</ion-item>

		<ion-item>
			<ion-buttons end>
				<button ion-button color="danger" medium icon-right (click)="peopleProv.clearFilters()">
					Reset
					<ion-icon name="refresh"></ion-icon>
				</button>
			</ion-buttons>
		</ion-item>

	</ion-list>
	

</ion-content>