
<ion-header>
	<ion-navbar>
		<ion-title>Natives</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>

	<form [formGroup]="credentials" inset>


		<ion-item 
			[class.input-invalid]="!credentials.controls.username.valid && (credentials.controls.username.touched || credentials.controls.username.dirty)" 
			[class.input-valid]="credentials.controls.username.valid && (credentials.controls.username.touched || credentials.controls.username.dirty)"
		>
			<ion-label floating>
				Username
			</ion-label>
			<ion-input formControlName="username" name="username"></ion-input>
		</ion-item>

		<ion-item 
			[class.input-invalid]="!credentials.controls.password.valid && (credentials.controls.password.touched || credentials.controls.password.dirty)" 
			[class.input-valid]="credentials.controls.password.valid && (credentials.controls.password.touched || credentials.controls.password.dirty)"
		>
			<ion-label floating>
				Password
			</ion-label>
			<ion-input type="password" formControlName="password" name="password"></ion-input>
		</ion-item>

	</form>

	
</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button type="submit" block (click)="submitLogin()" icon-right [disabled]="!credentials.valid">
    	Sign In
    	<ion-icon name="log-in"></ion-icon>
    </button>
  </ion-toolbar>
</ion-footer>
