// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


$vml-color: #00b9f1;

.header .toolbar-background {
  background: $vml-color;
}

.platform-ios:not(.fullscreen) ion-header {
     padding-top: 20px;
}

.platform-ios:not(.fullscreen) ion-navbar {
     margin-top: -20px;
     min-height: 64px;
     padding-top: 20px;
}

.platform-ios:not(.fullscreen) ion-title {
     top: 7px;
}

.toolbar-title {
	color: white;
}

.bar-button {
	color: white;
}

.searchbar {
    background: $vml-color;
}

.grid {
    padding: 3px;
}

.col {
    padding: 3px;
}

.input-invalid ion-label{
    color: map-get($colors, danger);
}

.input-valid ion-label{
    color: map-get($colors, valid);
}

.vml-logo {
    position: absolute;
    top: 30%;
    left: 5%;
    height: 40%;
}

.employee-card {
    width:100%;
    padding-bottom: 120%;
    position:relative;
}

.employee-detail {
    width:100%;
    padding-bottom: 100%;
    position:relative;
}

.employee-card-image-container {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background: $vml-color;
}

.employee-card-image {
    object-fit:cover;
    width: 100%;
    height: 100%;
}

.employee-card-new-alert {
    z-index: 99;
    position: absolute;
    top: 3px;
    left: 3px;
    width: 30%;
}

.employee-card-name {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
    /*background-color: rgba(0, 0, 0, 0.5);*/
}