<ion-header>
	<ion-navbar>
		<button menuToggle *ngIf="!selectedItem">
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>{{selectedItem.getFullName()}}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-grid style="padding:0;">
		<ion-row wrap>

			<ion-col col-12 col-md-6 col-lg-6 style="padding:0;">
				<div class="employee-detail">
					<div class="employee-card-image-container">
						<img src="{{selectedItem.getPicture()}}" class="employee-card-image" onerror="if(this.src != './assets/imgs/missing.jpg') this.src = './assets/imgs/missing.jpg';">
					</div>
				</div>
			</ion-col>

			<ion-col col-12 col-md-6 col-lg-6 style="padding:0;">

				<ion-list inset>

					<ion-list-header>
						About {{selectedItem.getFullName()}}
					</ion-list-header>

					<ion-item>
						
						<ion-icon name="call" item-start></ion-icon>

						<a button href="tel:{{selectedItem.mobile}}"  item-end>
							{{selectedItem.mobile}}
						</a>
					</ion-item>

					<ion-item>
						
						<ion-icon name="mail" item-start></ion-icon>

						<a button href="mailto:{{selectedItem.email}}" item-end>
							{{selectedItem.email}}
						</a>
						
					</ion-item>

					<ion-item>
						<ion-label>Extension</ion-label>
						<p item-end>{{ selectedItem.extension }}</p>
					</ion-item>

					<ion-item>
						<ion-label>Title</ion-label>
						<p item-end>{{ selectedItem.title }}</p>
					</ion-item>

					<ion-item>
						<ion-label>Department</ion-label>
						<p item-end>{{ selectedItem.department }}</p>
					</ion-item>

					<ion-item>
						<ion-label>Tribe</ion-label>
						<p item-end>{{ selectedItem.tribe }}</p>
					</ion-item>

					<ion-item>
						<ion-label>City</ion-label>
						<p item-end>{{ selectedItem.city }}</p>
					</ion-item>

					<ion-item>
						<ion-label>Birthday</ion-label>
						<p item-end>{{ selectedItem.dob }}</p>
					</ion-item>
					
				</ion-list>

			</ion-col>

		</ion-row>
	</ion-grid>

				

</ion-content>
